<ion-content>
  <div id="carousel">
    <ion-slides [options]="slideOpts">
      <ion-slide *ngFor="let image of images; let i = index">
        <ion-img [src]="image.src" [alt]="image.alt"></ion-img>
      </ion-slide>
    </ion-slides>

    <div class="dots">
      <ion-button
        *ngFor="let _ of images; let i = index"
        fill="clear"
        color="primary"
        [class.active]="i === currentSlide"
        (click)="showSlide(i)"
      >
        <ion-icon name="ellipse" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
