<ion-header>
  <ion-toolbar>
    <ion-title>HomePage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="custom-background">
  <div id="bodyFrame-container">
    <app-tool-bar (toolBarEvent)="windowSwitched($event)"></app-tool-bar>

    <!-- Chat Panel -->
    <app-chat-panel
      [userPhoto]="userPhoto"
      [userContacts]="contacts"
      (sendWindowSelect)="switchWindowSelect($event)"
      (chatUser)="loadChatUser($event)"
      class="chat-panel">
    </app-chat-panel>

    <!-- Windows that appear based on window selection -->
    <app-send-window *ngIf="switchWindow === 'sendWindow'" class="contentWindow"></app-send-window>
    <app-chat-window *ngIf="switchWindow === 'chatWindow'" [chatUserProfile]="chatUser" [currentUserProfile]="userPhoto" class="contentWindow"></app-chat-window>
    <app-edit-window (photoChanged)="receiveChangePhoto($event)" *ngIf="switchWindow === 'editWindow'" class="contentWindow"></app-edit-window>
    <app-request-window *ngIf="switchWindow === 'requestWindow'" [userRequest]="requests" class="contentWindow"></app-request-window>
    <app-setting-window *ngIf="switchWindow === 'settingWindow'" class="contentWindow"></app-setting-window>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer Content</ion-title>
  </ion-toolbar>
</ion-footer>
