<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="switchWindow('editWindow')">
        <ion-icon src="assets/images/icono.jpg" alt="Botón de editar"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="switchWindow('sendWindow')">
        <ion-icon src="assets/images/play.png" alt="Botón 2"></ion-icon>
      </ion-button>
      <ion-button (click)="switchWindow('requestWindow')">
        <ion-icon src="assets/images/carta.webp" alt="Botón 3"></ion-icon>
      </ion-button>
      <ion-button (click)="switchWindow('settingWindow')">
        <ion-icon src="assets/images/settings.png" alt="Botón 4"></ion-icon>
      </ion-button>
      <ion-button (click)="switchWindow('chatWindow')">
        <ion-icon src="assets/images/audioStories.png" alt="Botón 5"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
