<ion-content>
  <div class="player-container">
    <!-- Foto de perfil -->
    <ion-img [src]='userPhoto' class="profilePic"></ion-img>

    <!-- Reproductor de audio -->
    <audio class="player" controls>
      <source src="assets/images/audio.mp3" type="audio/mpeg">
    </audio>

    <!-- Botón de Play/Pause -->
    <ion-button fill="clear" (click)="playAudio()" class="playPauseButton">
      <ion-img class="playPauseIcon" src="assets/images/audioPlay.png" alt="Play"></ion-img>
    </ion-button>

    <!-- Barra de progreso -->
    <ion-range class="progress" min="0" max="100" value="0" step="1"></ion-range>

    <!-- Tiempos del audio -->
    <span class="currentTime time bar-time-messageAudio">0:00</span>
    <span class="time bar-time-messageAudio">/</span>
    <span class="durationTime time bar-time-messageAudio">0:00</span>
  </div>
</ion-content>
