<ion-content>
  <div class="chat-window-container">
    <div class="conversation-main-container">
      <div class="conversation-container">
        <ion-list id="chatsWindowContainer">
          <ion-item
            *ngIf="chatUserProfile"
            class="chatMessagebox"
            lines="none"
          >
            <app-message-audio [userPhoto]="chatUserProfile"></app-message-audio>
          </ion-item>

          <ion-item
            *ngIf="currentUserProfile"
            class="myChatMessage"
            lines="none"
          >
            <app-message-audio [userPhoto]="currentUserProfile"></app-message-audio>
          </ion-item>

          <ion-item
            *ngIf="chatUserProfile"
            class="chatMessagebox"
            lines="none"
          >
            <app-message-audio [userPhoto]="chatUserProfile"></app-message-audio>
          </ion-item>

          <ion-item
            *ngIf="currentUserProfile"
            class="myChatMessage"
            lines="none"
          >
            <app-message-audio [userPhoto]="currentUserProfile"></app-message-audio>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div class="button-container">
      <ion-button class="mic-button" fill="clear">
        <ion-img src="assets/images/microphone.png" alt="microfono"></ion-img>
      </ion-button>
    </div>
  </div>
</ion-content>
