<ion-content>
  <div id="login-container" [class.expanded]="isFormTouchedAndInvalid">
    <div class="login-maintext">
      <h1 id="welcome-text">Bienvenido a Whisp</h1>
      <h1 id="welcome-text2">Iniciar sesión</h1>
    </div>

    <h2 id="LogIn-Text">Iniciar sesión</h2>
    <form [formGroup]="form" id="logIn-Form" (ngSubmit)="onSubmit()">

      <!-- Campo de correo -->
      <section>
        <ion-label for="email">Correo</ion-label>
        <ion-input
          id="email"
          type="email"
          placeholder="pedro@example.com"
          formControlName="email"
          required
        ></ion-input>
        <div *ngIf="form.get('email')?.touched">
          <ion-text color="danger">
            <div *ngIf="form.get('email')?.hasError('required')">Es obligatorio introducir un email</div>
            <div *ngIf="form.get('email')?.hasError('email')">El patrón del email es incorrecto</div>
          </ion-text>
        </div>
      </section>

      <!-- Campo de contraseña -->
      <section>
        <ion-label for="password">Contraseña</ion-label>
        <ion-input
          id="password"
          type="password"
          placeholder="Contraseña"
          formControlName="password"
          required
        ></ion-input>
        <div *ngIf="form.get('password')?.touched">
          <ion-text color="danger">
            <div *ngIf="form.get('password')?.hasError('required')">Es obligatorio introducir una contraseña</div>
            <div *ngIf="form.get('password')?.hasError('minLength')">La contraseña debe de contener al menos 8 dígitos</div>
            <div *ngIf="form.get('password')?.hasError('pattern')">
              La contraseña no sigue el patrón correcto
              <div>1 Mayúscula</div>
              <div>1 Minúscula</div>
              <div>1 Carácter especial</div>
            </div>
          </ion-text>
        </div>
      </section>

      <!-- Botón de inicio de sesión -->
      <section class="inputOptions-Field" id="logIn-Button-Field">
        <ion-button expand="block" type="submit" id="login-button">Iniciar sesión</ion-button>
      </section>

      <!-- Enlace para crear cuenta -->
      <section class="inputOptions-Field">
        <ion-text class="forgot-Password-Text">¿Aún no tienes cuenta?</ion-text>
        <ion-router-link routerLink="/signUp" class="forgot-Password-Text">Crea tu cuenta</ion-router-link>
      </section>

    </form>
  </div>
</ion-content>
