<ion-content>
  <div id="createAccount-Container">
    <div class="createAccount-maintext">
      <h1 id="welcome-text">Bienvenido a Whisp</h1>
      <h1 id="welcome-text2">Crear cuenta</h1>
    </div>

    <h2 id="createAccount-Text">Crear cuenta</h2>

    <form [formGroup]="form" id="createAccount-Form" (ngSubmit)="onSubmit()">
      <!-- EMAIL -->
      <ion-item lines="full">
        <ion-label position="floating">Correo</ion-label>
        <ion-input id="email" placeholder="pedro@example.com" formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')">
        <p class="error-message">Es obligatorio introducir un email</p>
      </ion-text>
      <ion-text color="danger" *ngIf="form.get('email')?.touched && form.get('email')?.hasError('email')">
        <p class="error-message">El patrón del email es incorrecto</p>
      </ion-text>

      <!-- PASSWORD -->
      <ion-item lines="full">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" id="password" placeholder="Contraseña" formControlName="password"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')">
        <p class="error-message">Es obligatorio introducir una contraseña</p>
      </ion-text>
      <ion-text color="danger" *ngIf="form.get('password')?.touched && form.get('password')?.hasError('minLength')">
        <p class="error-message">La contraseña debe de contener al menos 8 dígitos</p>
      </ion-text>
      <ion-text color="danger" *ngIf="form.get('password')?.touched && form.get('password')?.hasError('maxLength')">
        <p class="error-message">La contraseña debe de contener menos de 15 dígitos</p>
      </ion-text>
      <ion-text color="danger" *ngIf="form.get('password')?.touched && form.get('password')?.hasError('pattern')">
        <p class="error-message">La contraseña no sigue el patrón correcto</p>
        <p class="error-message">1 Mayúscula</p>
        <p class="error-message">1 Minúscula</p>
        <p class="error-message">1 Carácter especial</p>
      </ion-text>

      <!-- CONFIRM PASSWORD -->
      <ion-item lines="full">
        <ion-label position="floating">Confirmar contraseña</ion-label>
        <ion-input type="password" id="confirm-password" placeholder="Contraseña" formControlName="password_confirmation"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="form.get('password_confirmation')?.touched && form.get('password_confirmation')?.hasError('required')">
        <p class="error-message">Es obligatorio introducir una contraseña</p>
      </ion-text>
      <ion-text color="danger" *ngIf="form.get('password_confirmation')?.touched && form.get('password_confirmation')?.hasError('minLength')">
        <p class="error-message">La contraseña debe tener al menos 8 dígitos</p>
      </ion-text>
      <ion-text color="danger" *ngIf="form.get('password_confirmation')?.touched && form.get('password_confirmation')?.hasError('maxLength')">
        <p class="error-message">La contraseña debe tener menos de 15 dígitos</p>
      </ion-text>
      <ion-text color="danger" *ngIf="form.get('password_confirmation')?.touched && form.get('password_confirmation')?.hasError('pattern')">
        <p class="error-message">La contraseña no sigue el patrón correcto</p>
        <p class="error-message">1 Mayúscula</p>
        <p class="error-message">1 Minúscula</p>
        <p class="error-message">1 Carácter especial</p>
      </ion-text>
      <ion-text color="danger" *ngIf="showPasswordMatchError()">
        <p class="error-message">Las contraseñas no coinciden</p>
      </ion-text>

      <!-- USER NAME -->
      <ion-item lines="full">
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input id="user-name" required placeholder="ArmadilloAmarillo" formControlName="name"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="form.get('name')?.touched && form.get('name')?.hasError('required')">
        <p class="error-message">Es obligatorio introducir un nombre de usuario</p>
      </ion-text>
      <ion-text color="danger" *ngIf="form.get('name')?.touched && form.get('name')?.errors?.['userNameExists']">
        <p class="error-message">El nombre de usuario ya existe</p>
      </ion-text>

      <!-- BIRTHDATE -->
      <ion-item lines="full">
        <ion-label position="floating">Fecha de nacimiento</ion-label>
        <ion-datetime-button datetime="birthdate"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ion-datetime id="birthdate" presentation="date" formControlName="birthday" min="1900-01-01" [max]="formatDateForMax()"></ion-datetime>
        </ion-modal>
      </ion-item>
      <ion-text color="danger" *ngIf="form.get('birthday')?.touched && form.get('birthday')?.hasError('required')">
        <p class="error-message">Es obligatorio introducir la fecha de nacimiento</p>
      </ion-text>
      <ion-text color="danger" *ngIf="form.get('birthday')?.touched && form.get('birthday')?.errors?.['tooYoung']">
        <p class="error-message">Debe tener al menos 12 años</p>
      </ion-text>
      <ion-text color="danger" *ngIf="form.get('birthday')?.touched && form.get('birthday')?.errors?.['futureDate']">
        <p class="error-message">La fecha no puede ser en el futuro</p>
      </ion-text>

      <!-- SUBMIT BUTTON -->
      <ion-button id="createAccountButton" type="submit" expand="block">
        Crear cuenta
      </ion-button>
    </form>
  </div>
</ion-content>
