<ion-content>
  <div class="setting-body">
    <div class="setting-container" [class.expanded]="isFormTouchedAndInvalid">
      <h2 class="password-Text">Modificar Contraseña</h2>
      <form [formGroup]="form" (ngSubmit)="changePassword()" id="passwordForm">

        <!-- Contraseña actual -->
        <ion-item>
          <ion-label position="floating">Contraseña Actual:</ion-label>
          <ion-input type="password" formControlName="currentPassword" placeholder="Ingresa tu contraseña actual"></ion-input>
        </ion-item>
        <div *ngIf="form.get('currentPassword')?.touched && form.get('currentPassword')?.hasError('required')">
          <ion-text color="danger">Es obligatorio introducir una contraseña</ion-text>
        </div>
        <div *ngIf="form.get('currentPassword')?.touched && form.get('currentPassword')?.hasError('minLength')">
          <ion-text color="danger">La contraseña debe de contener al menos 8 dígitos</ion-text>
        </div>
        <div *ngIf="form.get('currentPassword')?.touched && form.get('currentPassword')?.hasError('pattern')">
          <ion-text color="danger">La contraseña no sigue el patrón correcto. 1 Mayúscula, 1 Minúscula, 1 Carácter especial</ion-text>
        </div>
        <div *ngIf="form.get('currentPassword')?.touched && form.get('currentPassword')?.errors?.['incorrectPassword']">
          <ion-text color="danger">La contraseña es incorrecta</ion-text>
        </div>

        <!-- Nueva contraseña -->
        <ion-item>
          <ion-label position="floating">Nueva Contraseña:</ion-label>
          <ion-input type="password" formControlName="newPassword" placeholder="Ingresa la nueva contraseña"></ion-input>
        </ion-item>
        <div *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.hasError('required')">
          <ion-text color="danger">Es obligatorio introducir una contraseña</ion-text>
        </div>
        <div *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.hasError('minLength')">
          <ion-text color="danger">La contraseña debe de contener al menos 8 dígitos</ion-text>
        </div>
        <div *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.hasError('maxLength')">
          <ion-text color="danger">La contraseña debe de contener menos de 15 dígitos</ion-text>
        </div>
        <div *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.hasError('pattern')">
          <ion-text color="danger">La contraseña no sigue el patrón correcto. 1 Mayúscula, 1 Minúscula, 1 Carácter especial</ion-text>
        </div>

        <!-- Confirmar nueva contraseña -->
        <ion-item>
          <ion-label position="floating">Confirmar nueva contraseña:</ion-label>
          <ion-input type="password" formControlName="confirmPassword" placeholder="Confirma la nueva contraseña"></ion-input>
        </ion-item>
        <div *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('required')">
          <ion-text color="danger">Es obligatorio introducir una contraseña</ion-text>
        </div>
        <div *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('minLength')">
          <ion-text color="danger">La contraseña debe de contener al menos 8 dígitos</ion-text>
        </div>
        <div *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('maxLength')">
          <ion-text color="danger">La contraseña debe de contener menos de 15 dígitos</ion-text>
        </div>
        <div *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('pattern')">
          <ion-text color="danger">La contraseña no sigue el patrón correcto. 1 Mayúscula, 1 Minúscula, 1 Carácter especial</ion-text>
        </div>
        <div *ngIf="showPasswordMatchError()">
          <ion-text color="danger">Las contraseñas no coinciden</ion-text>
        </div>

        <!-- Botón de cambio de contraseña -->
        <ion-item>
          <ion-button expand="full" type="submit">Cambiar Contraseña</ion-button>
        </ion-item>
      </form>

      <!-- Selección de tema -->
      <section id="change-theme">
        <ion-label class="setting-theme-label">Seleccionar Tema:</ion-label><br>
        <ion-select id="themeSelect" [(ngModel)]="theme" (ionChange)="changeTheme()">
          <ion-select-option value="normal">Normal</ion-select-option>
          <ion-select-option value="dark">Oscuro</ion-select-option>
        </ion-select>
      </section>

      <!-- Cerrar sesión -->
      <section id="close">
        <ion-button expand="full" color="danger" (click)="logout()">Cerrar sesión</ion-button>
      </section>
    </div>
  </div>
</ion-content>
